@import 'fonts';
@import 'reset';

// Arquivos de configurações de tema:
@import 'theme-settings/colors';
@import 'theme-settings/spacings';
@import 'theme-settings/font-sizes';
@import 'theme-settings/font-families';
@import 'theme-settings/font-weights';
@import 'theme-settings/border-radius';

// Arquivos de tema
@import 'theme/background';
@import 'theme/padding';
@import 'theme/text';
@import 'theme/border-radius';
@import 'theme/border';

@import 'css-animations/animation';

@import 'embla';

body {
  font-family: var(--primary-font-family), sans-serif;
  font-weight: var(--regular-font-weight);
  letter-spacing: 1px;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  font-size: var(--body-font-size);
  font-weight: 500;
  color: var(--black)
}

strong {
  font-size: var(--body-font-size);
  font-weight: 700;
  color: var(--black)
}

input[type="text"] {
  width: 100%;
  border: 2px solid var(--primary);
  padding-left: var(--extra-small-spacing);
  padding-right: var(--extra-small-spacing);
  padding-top: var(--mini-spacing);
  padding-bottom: var(--mini-spacing);
  font-family: var(--primary-font-family), sans-serif;
  font-size: var(--body-font-size);
  border-radius: var(--mini-border-radius);
}

input[type="text"]:focus {
  width: 100%;
  outline: none;
}

input[type="password"] {
  width: 100%;
  border: 2px solid var(--primary);
  padding-left: var(--extra-small-spacing);
  padding-right: var(--extra-small-spacing);
  padding-top: var(--mini-spacing);
  padding-bottom: var(--mini-spacing);
  font-family: var(--primary-font-family), sans-serif;
  font-size: var(--body-font-size);
  border-radius: var(--mini-border-radius);
}

input[type="password"]:focus {
  width: 100%;
  outline: none;
}

button {
  font-family: var(--primary-font-family), sans-serif;
  font-size: var(--body-font-size);
  background-color: var(--primary-dark);
  color: var(--white);
  border-radius: var(--extra-small-border-radius);
  padding-top: var(--mini-spacing);
  padding-bottom: var(--mini-spacing);
  padding-left: var(--very-small-spacing);
  padding-right: var(--very-small-spacing);
  border: 2px solid var(--primary-dark);
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  gap: var(--small-spacing);

  &.favorito {
    background: linear-gradient(45deg, #E47171, #CC2929);
    border: none;
    color: var(--white);
  }

  &.favorito:hover {
    background: linear-gradient(45deg, #E47171, #CC2929);
    border: none;
    color: var(--white);
    scale: 1.1;
  }

  &.carrinho {
    background: linear-gradient(45deg, #E4BD71, #CC9529);
    border: none;
    color: var(--white);
  }

  &.carrinho:hover {
    background: linear-gradient(45deg, #E4BD71, #CC9529);
    border: none;
    color: var(--white);
    scale: 1.1;
  }
}

select {
  width: 100%;
  border: 2px solid var(--primary);
  padding-left: var(--extra-small-spacing);
  padding-right: var(--extra-small-spacing);
  padding-top: var(--mini-spacing);
  padding-bottom: var(--mini-spacing);
  font-family: var(--primary-font-family), sans-serif;
  font-size: var(--body-font-size);
  border-radius: var(--mini-border-radius);
  cursor: pointer;
  appearance: none;
}

select:focus {
  outline: none;
}

option {
  cursor: pointer;
}

button:hover {
  background-color: var(--white);
  color: var(--primary-dark);
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--black);
}

input[type="radio"]:checked {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.fill {
  flex-basis: 0;
  flex-grow: 1;
}

.img-contain {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img-cover {
  min-width: 100%;
  min-height: auto;
  object-fit: cover;
}