:root {
  --primary-extra-light: #a1d0f1;
  --primary-light: #71b4e4;
  --primary: #2988cc;
  --primary-dark: #0a6eb5;
  --primary-extra-dark: #011638;
  --card: #011533;

  --black: #0a0a0a;
  --white: #fafafa;
  --white-50: #fafafaa0;
  --gray: #888888;
}
