  // Padding Vertical
  .mini-padding-y {
    padding-top: var(--mini-spacing);
    padding-bottom: var(--mini-spacing);
  }

  .extra-small-padding-y {
    padding-top: var(--extra-small-spacing);
    padding-bottom: var(--extra-small-spacing);
  }

  .very-small-padding-y {
    padding-top: var(--very-small-spacing);
    padding-bottom: var(--very-small-spacing);
  }

  .small-padding-y {
    padding-top: var(--small-spacing);
    padding-bottom: var(--small-spacing);
  }

  .medium-padding-y {
    padding-top: var(--medium-spacing);
    padding-bottom: var(--medium-spacing);
  }

  .large-padding-y {
    padding-top: var(--large-spacing);
    padding-bottom: var(--large-spacing);
  }

  .very-large-padding-y {
    padding-top: var(--very-large-spacing);
    padding-bottom: var(--very-large-spacing);
  }

  .extra-large-padding-y {
    padding-top: var(--extra-large-spacing);
    padding-bottom: var(--extra-large-spacing);
  }

  .giant-padding-y {
    padding-top: var(--giant-spacing);
    padding-bottom: var(--giant-spacing);
  }

  // Padding Horizontal
  .mini-padding-x {
    padding-left: var(--mini-spacing);
    padding-right: var(--mini-spacing);
  }

  .extra-small-padding-x {
    padding-left: var(--extra-small-spacing);
    padding-right: var(--extra-small-spacing);
  }

  .very-small-padding-x {
    padding-left: var(--very-small-spacing);
    padding-right: var(--very-small-spacing);
  }

  .small-padding-x {
    padding-left: var(--small-spacing);
    padding-right: var(--small-spacing);
  }

  .medium-padding-x {
    padding-left: var(--medium-spacing);
    padding-right: var(--medium-spacing);
  }

  .large-padding-x {
    padding-left: var(--large-spacing);
    padding-right: var(--large-spacing);
  }

  .very-large-padding-x {
    padding-left: var(--very-large-spacing);
    padding-right: var(--very-large-spacing);
  }

  .extra-large-padding-x {
    padding-left: var(--extra-large-spacing);
    padding-right: var(--extra-large-spacing);
  }

  .giant-padding-x {
    padding-left: var(--giant-spacing);
    padding-right: var(--giant-spacing);
  }

  // Padding Total
  .mini-padding {
    padding: var(--mini-spacing);
  }

  .extra-small-padding {
    padding: var(--extra-small-spacing);
  }

  .very-small-padding {
    padding: var(--very-small-spacing);
  }

  .small-padding {
    padding: var(--small-spacing);
  }

  .medium-padding {
    padding: var(--medium-spacing);
  }

  .large-padding {
    padding: var(--large-spacing);
  }

  .very-large-padding {
    padding: var(--very-large-spacing);
  }

  .extra-large-padding {
    padding: var(--extra-large-spacing);
  }

  .giant-padding {
    padding: var(--giant-spacing);
  }
